In [ ]:

# Connect to MySQL
import mysql.connector

def sql_connection():
    return mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "240996",
        database = "Tennis_project"
    )

In [ ]:
# Execute SQL Query & Print Results
def answer(query):
    connection = sql_connection()
    cursor = connection.cursor()

    cursor.execute(query)
    results = cursor.fetchall()

    if results:
        for row in results:
            print(row)
    else:
        print(" No data found.")
    cursor.close()
    connection.close()

1st set of questions

In [ ]:
# -- 1)List all competitions along with their category name
query = '''select comp.competition_name, cat.category_name from competitions as comp
 join categories as cat on comp.category_id = cat.category_id;'''
answer(query)

In [ ]:
# -- 2)	Count the number of competitions in each category
query = '''select cat.category_name, count(comp.competition_id)as competition_count from competitions as comp
 join categories as cat on comp.category_id = cat.category_id group by cat.category_name;'''
answer(query)

In [ ]:
# -- 3)	Find all competitions of type 'doubles'
query = '''select * from competitions where type = 'doubles';'''
answer(query)

In [ ]:
# -- 4)	Get competitions that belong to a specific category (e.g., ITF Men) used to retrieve "Wheelchairs Juniors"
query = '''select * from competitions comp join categories as cat on comp.category_id = cat.category_id where cat.category_name = "Wheelchairs Juniors";'''
answer(query)

In [ ]:
# -- 5)	Identify parent competitions and their sub-competitions 
query = '''select parent.competition_name as parent_competition, child.competition_name as sub_competition from competitions child join competitions parent on child.parent_id = parent.competition_id
order by parent_competition, sub_competition;'''
answer(query)

In [ ]:
# -- 6)	Analyze the distribution of competition types by category
query = '''select cat.category_name, comp.type, count(*) as competitions_count from competitions as comp join categories as cat on comp.category_id = cat.category_id
group by cat.category_name, comp.type order by cat.category_name, comp.type;'''
answer(query)

In [ ]:
# -- 7)	List all competitions with no parent (top-level competitions);
query = '''select competition_name, parent_id from competitions where parent_id is null;'''
answer(query)

2nd set of questions

In [ ]:
# -- 1)	List all venues along with their associated complex name
query = '''select v.venue_name,v.city_name,v.country_name, c.complex_name from venues as v join complexes as c on v.complex_id = c.complex_id;'''
answer(query)

In [ ]:
# -- 2)	Count the number of venues in each complex
query = '''select c.complex_name, count(v.venue_id) from venues as v join complexes as c on  v.complex_id = c.complex_id group by c.complex_name ;'''
answer(query)

In [ ]:
# -- 3)	Get details of venues in a specific country (e.g., Chile)
query = '''select country_name, venue_name from venues where country_name = "Chile";'''
answer(query)

In [ ]:
# -- 4)	Identify all venues and their timezones
query = '''select venue_name, timezone from venues;'''
answer(query)

In [ ]:
# -- 5)	Find complexes that have more than one venue
query = '''select c.complex_id, c.complex_name, count(v.venue_id) from complexes as c join venues as v on c.complex_id = v.complex_id
 group by complex_id having count(v.venue_id) > 1;'''
answer(query)

In [ ]:
# -- 6)	List venues grouped by country
query = '''select country_name, count(venue_name) as total_venue , json_arrayagg(venue_name) as list_of_venues from venues group by country_name;'''
answer(query)

In [ ]:
# -- 7)	Find all venues for a specific complex (e.g., Nacional)
query = '''select c.complex_name, v.venue_name, v.city_name, v.country_name from complexes as c join venues as v on c.complex_id = v.complex_id where complex_name = "Nacional";'''
answer(query)

3rd set of questions

In [ ]:
# -- 1)	Get all competitors with their rank and points.
query = '''select c.name, r.player_rank, r.points from competitors as c join rankings as r on c.competitor_id = r.competitor_id;'''
answer(query)

In [ ]:
# -- 2)	Find competitors ranked in the top 5 (used subquery)
query = '''select distinct(c.name) from competitors as c where c.competitor_id in (select r.competitor_id from rankings as r where r.player_rank <=5);'''
answer(query)

In [ ]:
# -- 3)	List competitors with no rank movement (stable rank)
query = '''select c.name, r.movement from competitors as c join rankings as r on c.competitor_id = r.competitor_id where movement = 0;'''
answer(query)

In [ ]:
# -- 4)	Get the total points of competitors from a specific country (e.g., Croatia)
query = '''select c.country, sum(r.points) from competitors as c join rankings as r on c.competitor_id = r.competitor_id where c.country = "Croatia" group by c.country;'''
answer(query)

In [ ]:
# -- 5)	Count the number of competitors per country
query = '''select country, count(competitor_id) from competitors group by country;'''
answer(query)

In [ ]:
# -- 6)	Find competitors with the highest points in the current week
query = '''select c.competitor_id, c.name, r.points from competitors as c join rankings as r on c.competitor_id = r.competitor_id order by r.points desc limit 3;'''
answer(query)